@use '@/styles/global.scss' as *;

.loginTitle {
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-size-xxl);
  color: var(--accent);
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}
