@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --color-gray-dark: #343e3d;
  --color-gray-mid: #607466;
  --color-green-mid: #aedcce;
  --color-green-accent: #38e4ae;
  --color-black: #222;
  --color-white: #fff;
  --color-modal: rgba(52, 62, 61, 0.97);
  --color-red: #e53935;
  --font-title: 'Bebas Neue', Arial, sans-serif;
  --font-title-light: 'Barlow', Arial, sans-serif;
  --font-text: 'Roboto', Arial, sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.9rem;
  --font-size-lg: 1.1rem;
  --font-size-xxl: 2rem;
  --font-size-icons: 1.6rem;
  --font-size-xs: 0.7rem;
}

body.light {
  --background: var(--color-white);
  --text: var(--color-gray-dark);
  --text-secondary: var(--color-gray-mid);

  --primary: var(--color-green-mid);
  --primary-hover: var(--color-green-light);
  --secondary: var(--color-gray-mid);
  --accent: var(--color-green-accent);

  --border: var(--color-gray-mid);
  --border-light: var(--color-white);

  --hamburger-bg: var(--color-white);

  --badge-bg: var(--color-gray-mid);
  --badge-text: var(--color-white);

  --menu-modal-bg: var(--color-modal);
  --menu-modal-color: var(--color-white);

  --modal-bg: var(--color-white);
  --modal-border: 1px solid var(--color-gray-mid);
  --modal-shadow: 0 4px 32px rgba(0, 0, 0, 0.18);

  --error: var(--color-red);
}

body.dark {
  --background: var(--color-black);
  --text: var(--color-white);
  --text-secondary: var(--color-green-mid);

  --primary: var(--color-green-mid);
  --primary-hover: var(--color-green-accent);
  --secondary: var(--color-gray-mid);
  --accent: var(--color-green-accent);

  --border: var(--color-gray-mid);
  --border-light: var(--color-gray-mid);

  --hamburger-bg: var(--color-gray-dark);

  --badge-bg: var(--accent);
  --badge-text: var(--color-white);

  --menu-modal-bg: var(--color-modal);
  --menu-modal-color: var(--color-white);

  --modal-bg: var(--color-gray-dark);
  --modal-border: 1px solid var(--color-white);
  --modal-shadow: 0 4px 32px rgba(0, 0, 0, 0.32);

  --error: var(--color-red);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-text);
}

@keyframes bounce {
  0% {
    transform: scale(1.018);
  }
  40% {
    transform: scale(0.985);
  }
  100% {
    transform: scale(1);
  }
}

.bounce {
  animation: bounce 0.38s cubic-bezier(0.4, 0.2, 0.2, 1);
}
