.categorySection {
  margin-bottom: 2.5rem;
}

.categoryTitle {
  font-size: 1.5rem;
  color: var(--accent);
  margin-bottom: 1.2rem;
  margin-top: 5rem;
  font-family: var(--font-title);
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
  margin-bottom: 2rem;
}

@media (max-width: 1200px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
  }
}

@media (max-width: 900px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .productCardContainer {
    min-width: unset;
    max-width: unset;
    flex: 1 1 100%;
  }
}

@media (max-width: 700px) {
  .productsGrid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.productCardContainer {
  height: auto;
  display: flex;
}

.productCardContainer > .productCard {
  height: auto;
  display: flex;
  flex-direction: column;
}
