@use '@/styles/global.scss' as *;

.langmenu__lang {
  font-family: var(--font-title-light);
  font-size: var(--font-size-base);
  color: var(--text-secondary);
  background: var(--background);
  border: 2px solid var(--border);
  border-radius: 4px;
  padding: 0.2rem 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;
  option {
    font-family: var(--font-title-light);
    font-size: var(--font-size-base);
    color: var(--text);
    background: var(--background);
  }
}

@media (max-width: 900px) {
  .langmenu__lang {
    height: 28px;
    padding: 0.1rem 0.5rem;
    font-size: var(--font-size-sm);
  }
}
