@use '@/styles/global.scss' as *;

.faqPageContainer {
  max-width: 900px;
  margin: 2.5rem auto 2.5rem auto;
  padding: 2.5rem 2rem 2.5rem 2rem;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}
